.absolute {
  position: absolute
}

.relative {
  position: relative
}

.top-0 {
  top: 0px
}

.bottom-0 {
  bottom: 0px
}

.bottom-40 {
  bottom: 10rem
}

.-left-14 {
  left: -3.5rem
}

.m-5 {
  margin: 1.25rem
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.-mt-6 {
  margin-top: -1.5rem
}

.mb-3 {
  margin-bottom: 0.75rem
}

.mt-10 {
  margin-top: 2.5rem
}

.ml-9 {
  margin-left: 2.25rem
}

.mt-5 {
  margin-top: 1.25rem
}

.mt-20 {
  margin-top: 5rem
}

.mr-4 {
  margin-right: 1rem
}

.ml-14 {
  margin-left: 3.5rem
}

.flex {
  display: flex
}

.h-10 {
  height: 2.5rem
}

.h-14 {
  height: 3.5rem
}

.h-3\/4 {
  height: 75%
}

.h-full {
  height: 100%
}

.h-20 {
  height: 5rem
}

.h-16 {
  height: 4rem
}

.h-32 {
  height: 8rem
}

.h-12 {
  height: 3rem
}

.w-10 {
  width: 2.5rem
}

.w-14 {
  width: 3.5rem
}

.w-full {
  width: 100%
}

.w-20 {
  width: 5rem
}

.w-16 {
  width: 4rem
}

.w-80 {
  width: 20rem
}

.w-32 {
  width: 8rem
}

.w-64 {
  width: 16rem
}

.w-12 {
  width: 3rem
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.justify-evenly {
  justify-content: space-evenly
}

.rounded-full {
  border-radius: 9999px
}

.rounded-xl {
  border-radius: 0.75rem
}

.rounded-2xl {
  border-radius: 1rem
}

.rounded-lg {
  border-radius: 0.5rem
}

.rounded-b-xl {
  border-bottom-right-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem
}

.rounded-tl-none {
  border-top-left-radius: 0px
}

.rounded-tr-none {
  border-top-right-radius: 0px
}

.border-t {
  border-top-width: 1px
}

.border-gray-d9 {
  --tw-border-opacity: 1;
  border-color: rgb(217 217 217 / var(--tw-border-opacity))
}

.border-purple-other {
  --tw-border-opacity: 1;
  border-color: rgb(61 59 115 / var(--tw-border-opacity))
}

.border-blue {
  --tw-border-opacity: 1;
  border-color: rgb(29 161 242 / var(--tw-border-opacity))
}

.border-green {
  --tw-border-opacity: 1;
  border-color: rgb(112 215 166 / var(--tw-border-opacity))
}

.border-yellow {
  --tw-border-opacity: 1;
  border-color: rgb(251 188 5 / var(--tw-border-opacity))
}

.border-orange {
  --tw-border-opacity: 1;
  border-color: rgb(245 145 36 / var(--tw-border-opacity))
}

.border-pink-primary {
  --tw-border-opacity: 1;
  border-color: rgb(255 133 162 / var(--tw-border-opacity))
}

.border-pink-region1 {
  --tw-border-opacity: 1;
  border-color: rgb(255 158 181 / var(--tw-border-opacity))
}

.border-pink-region2 {
  --tw-border-opacity: 1;
  border-color: rgb(255 184 201 / var(--tw-border-opacity))
}

.border-pink-region3 {
  --tw-border-opacity: 1;
  border-color: rgb(255 209 220 / var(--tw-border-opacity))
}

.border-pink-region4 {
  --tw-border-opacity: 1;
  border-color: rgb(255 235 239 / var(--tw-border-opacity))
}

.border-pink-dark {
  --tw-border-opacity: 1;
  border-color: rgb(255 46 96 / var(--tw-border-opacity))
}

.border-black-normal {
  --tw-border-opacity: 1;
  border-color: rgb(9 16 29 / var(--tw-border-opacity))
}

.border-black-light {
  --tw-border-opacity: 1;
  border-color: rgb(97 97 97 / var(--tw-border-opacity))
}

.border-red-something {
  --tw-border-opacity: 1;
  border-color: rgb(153 0 36 / var(--tw-border-opacity))
}

.border-red-important {
  --tw-border-opacity: 1;
  border-color: rgb(218 37 29 / var(--tw-border-opacity))
}

.border-gray-d9\/0 {
  border-color: rgb(217 217 217 / 0)
}

.border-gray-d9\/5 {
  border-color: rgb(217 217 217 / 0.05)
}

.border-gray-d9\/10 {
  border-color: rgb(217 217 217 / 0.1)
}

.border-gray-d9\/20 {
  border-color: rgb(217 217 217 / 0.2)
}

.border-gray-d9\/25 {
  border-color: rgb(217 217 217 / 0.25)
}

.border-gray-d9\/30 {
  border-color: rgb(217 217 217 / 0.3)
}

.border-gray-d9\/40 {
  border-color: rgb(217 217 217 / 0.4)
}

.border-gray-d9\/50 {
  border-color: rgb(217 217 217 / 0.5)
}

.border-gray-d9\/60 {
  border-color: rgb(217 217 217 / 0.6)
}

.border-gray-d9\/70 {
  border-color: rgb(217 217 217 / 0.7)
}

.border-gray-d9\/75 {
  border-color: rgb(217 217 217 / 0.75)
}

.border-gray-d9\/80 {
  border-color: rgb(217 217 217 / 0.8)
}

.border-gray-d9\/90 {
  border-color: rgb(217 217 217 / 0.9)
}

.border-gray-d9\/95 {
  border-color: rgb(217 217 217 / 0.95)
}

.border-gray-d9\/100 {
  border-color: rgb(217 217 217 / 1)
}

.border-purple-other\/0 {
  border-color: rgb(61 59 115 / 0)
}

.border-purple-other\/5 {
  border-color: rgb(61 59 115 / 0.05)
}

.border-purple-other\/10 {
  border-color: rgb(61 59 115 / 0.1)
}

.border-purple-other\/20 {
  border-color: rgb(61 59 115 / 0.2)
}

.border-purple-other\/25 {
  border-color: rgb(61 59 115 / 0.25)
}

.border-purple-other\/30 {
  border-color: rgb(61 59 115 / 0.3)
}

.border-purple-other\/40 {
  border-color: rgb(61 59 115 / 0.4)
}

.border-purple-other\/50 {
  border-color: rgb(61 59 115 / 0.5)
}

.border-purple-other\/60 {
  border-color: rgb(61 59 115 / 0.6)
}

.border-purple-other\/70 {
  border-color: rgb(61 59 115 / 0.7)
}

.border-purple-other\/75 {
  border-color: rgb(61 59 115 / 0.75)
}

.border-purple-other\/80 {
  border-color: rgb(61 59 115 / 0.8)
}

.border-purple-other\/90 {
  border-color: rgb(61 59 115 / 0.9)
}

.border-purple-other\/95 {
  border-color: rgb(61 59 115 / 0.95)
}

.border-purple-other\/100 {
  border-color: rgb(61 59 115 / 1)
}

.border-blue\/0 {
  border-color: rgb(29 161 242 / 0)
}

.border-blue\/5 {
  border-color: rgb(29 161 242 / 0.05)
}

.border-blue\/10 {
  border-color: rgb(29 161 242 / 0.1)
}

.border-blue\/20 {
  border-color: rgb(29 161 242 / 0.2)
}

.border-blue\/25 {
  border-color: rgb(29 161 242 / 0.25)
}

.border-blue\/30 {
  border-color: rgb(29 161 242 / 0.3)
}

.border-blue\/40 {
  border-color: rgb(29 161 242 / 0.4)
}

.border-blue\/50 {
  border-color: rgb(29 161 242 / 0.5)
}

.border-blue\/60 {
  border-color: rgb(29 161 242 / 0.6)
}

.border-blue\/70 {
  border-color: rgb(29 161 242 / 0.7)
}

.border-blue\/75 {
  border-color: rgb(29 161 242 / 0.75)
}

.border-blue\/80 {
  border-color: rgb(29 161 242 / 0.8)
}

.border-blue\/90 {
  border-color: rgb(29 161 242 / 0.9)
}

.border-blue\/95 {
  border-color: rgb(29 161 242 / 0.95)
}

.border-blue\/100 {
  border-color: rgb(29 161 242 / 1)
}

.border-green\/0 {
  border-color: rgb(112 215 166 / 0)
}

.border-green\/5 {
  border-color: rgb(112 215 166 / 0.05)
}

.border-green\/10 {
  border-color: rgb(112 215 166 / 0.1)
}

.border-green\/20 {
  border-color: rgb(112 215 166 / 0.2)
}

.border-green\/25 {
  border-color: rgb(112 215 166 / 0.25)
}

.border-green\/30 {
  border-color: rgb(112 215 166 / 0.3)
}

.border-green\/40 {
  border-color: rgb(112 215 166 / 0.4)
}

.border-green\/50 {
  border-color: rgb(112 215 166 / 0.5)
}

.border-green\/60 {
  border-color: rgb(112 215 166 / 0.6)
}

.border-green\/70 {
  border-color: rgb(112 215 166 / 0.7)
}

.border-green\/75 {
  border-color: rgb(112 215 166 / 0.75)
}

.border-green\/80 {
  border-color: rgb(112 215 166 / 0.8)
}

.border-green\/90 {
  border-color: rgb(112 215 166 / 0.9)
}

.border-green\/95 {
  border-color: rgb(112 215 166 / 0.95)
}

.border-green\/100 {
  border-color: rgb(112 215 166 / 1)
}

.border-yellow\/0 {
  border-color: rgb(251 188 5 / 0)
}

.border-yellow\/5 {
  border-color: rgb(251 188 5 / 0.05)
}

.border-yellow\/10 {
  border-color: rgb(251 188 5 / 0.1)
}

.border-yellow\/20 {
  border-color: rgb(251 188 5 / 0.2)
}

.border-yellow\/25 {
  border-color: rgb(251 188 5 / 0.25)
}

.border-yellow\/30 {
  border-color: rgb(251 188 5 / 0.3)
}

.border-yellow\/40 {
  border-color: rgb(251 188 5 / 0.4)
}

.border-yellow\/50 {
  border-color: rgb(251 188 5 / 0.5)
}

.border-yellow\/60 {
  border-color: rgb(251 188 5 / 0.6)
}

.border-yellow\/70 {
  border-color: rgb(251 188 5 / 0.7)
}

.border-yellow\/75 {
  border-color: rgb(251 188 5 / 0.75)
}

.border-yellow\/80 {
  border-color: rgb(251 188 5 / 0.8)
}

.border-yellow\/90 {
  border-color: rgb(251 188 5 / 0.9)
}

.border-yellow\/95 {
  border-color: rgb(251 188 5 / 0.95)
}

.border-yellow\/100 {
  border-color: rgb(251 188 5 / 1)
}

.border-orange\/0 {
  border-color: rgb(245 145 36 / 0)
}

.border-orange\/5 {
  border-color: rgb(245 145 36 / 0.05)
}

.border-orange\/10 {
  border-color: rgb(245 145 36 / 0.1)
}

.border-orange\/20 {
  border-color: rgb(245 145 36 / 0.2)
}

.border-orange\/25 {
  border-color: rgb(245 145 36 / 0.25)
}

.border-orange\/30 {
  border-color: rgb(245 145 36 / 0.3)
}

.border-orange\/40 {
  border-color: rgb(245 145 36 / 0.4)
}

.border-orange\/50 {
  border-color: rgb(245 145 36 / 0.5)
}

.border-orange\/60 {
  border-color: rgb(245 145 36 / 0.6)
}

.border-orange\/70 {
  border-color: rgb(245 145 36 / 0.7)
}

.border-orange\/75 {
  border-color: rgb(245 145 36 / 0.75)
}

.border-orange\/80 {
  border-color: rgb(245 145 36 / 0.8)
}

.border-orange\/90 {
  border-color: rgb(245 145 36 / 0.9)
}

.border-orange\/95 {
  border-color: rgb(245 145 36 / 0.95)
}

.border-orange\/100 {
  border-color: rgb(245 145 36 / 1)
}

.border-pink-primary\/0 {
  border-color: rgb(255 133 162 / 0)
}

.border-pink-primary\/5 {
  border-color: rgb(255 133 162 / 0.05)
}

.border-pink-primary\/10 {
  border-color: rgb(255 133 162 / 0.1)
}

.border-pink-primary\/20 {
  border-color: rgb(255 133 162 / 0.2)
}

.border-pink-primary\/25 {
  border-color: rgb(255 133 162 / 0.25)
}

.border-pink-primary\/30 {
  border-color: rgb(255 133 162 / 0.3)
}

.border-pink-primary\/40 {
  border-color: rgb(255 133 162 / 0.4)
}

.border-pink-primary\/50 {
  border-color: rgb(255 133 162 / 0.5)
}

.border-pink-primary\/60 {
  border-color: rgb(255 133 162 / 0.6)
}

.border-pink-primary\/70 {
  border-color: rgb(255 133 162 / 0.7)
}

.border-pink-primary\/75 {
  border-color: rgb(255 133 162 / 0.75)
}

.border-pink-primary\/80 {
  border-color: rgb(255 133 162 / 0.8)
}

.border-pink-primary\/90 {
  border-color: rgb(255 133 162 / 0.9)
}

.border-pink-primary\/95 {
  border-color: rgb(255 133 162 / 0.95)
}

.border-pink-primary\/100 {
  border-color: rgb(255 133 162 / 1)
}

.border-pink-region1\/0 {
  border-color: rgb(255 158 181 / 0)
}

.border-pink-region1\/5 {
  border-color: rgb(255 158 181 / 0.05)
}

.border-pink-region1\/10 {
  border-color: rgb(255 158 181 / 0.1)
}

.border-pink-region1\/20 {
  border-color: rgb(255 158 181 / 0.2)
}

.border-pink-region1\/25 {
  border-color: rgb(255 158 181 / 0.25)
}

.border-pink-region1\/30 {
  border-color: rgb(255 158 181 / 0.3)
}

.border-pink-region1\/40 {
  border-color: rgb(255 158 181 / 0.4)
}

.border-pink-region1\/50 {
  border-color: rgb(255 158 181 / 0.5)
}

.border-pink-region1\/60 {
  border-color: rgb(255 158 181 / 0.6)
}

.border-pink-region1\/70 {
  border-color: rgb(255 158 181 / 0.7)
}

.border-pink-region1\/75 {
  border-color: rgb(255 158 181 / 0.75)
}

.border-pink-region1\/80 {
  border-color: rgb(255 158 181 / 0.8)
}

.border-pink-region1\/90 {
  border-color: rgb(255 158 181 / 0.9)
}

.border-pink-region1\/95 {
  border-color: rgb(255 158 181 / 0.95)
}

.border-pink-region1\/100 {
  border-color: rgb(255 158 181 / 1)
}

.border-pink-region2\/0 {
  border-color: rgb(255 184 201 / 0)
}

.border-pink-region2\/5 {
  border-color: rgb(255 184 201 / 0.05)
}

.border-pink-region2\/10 {
  border-color: rgb(255 184 201 / 0.1)
}

.border-pink-region2\/20 {
  border-color: rgb(255 184 201 / 0.2)
}

.border-pink-region2\/25 {
  border-color: rgb(255 184 201 / 0.25)
}

.border-pink-region2\/30 {
  border-color: rgb(255 184 201 / 0.3)
}

.border-pink-region2\/40 {
  border-color: rgb(255 184 201 / 0.4)
}

.border-pink-region2\/50 {
  border-color: rgb(255 184 201 / 0.5)
}

.border-pink-region2\/60 {
  border-color: rgb(255 184 201 / 0.6)
}

.border-pink-region2\/70 {
  border-color: rgb(255 184 201 / 0.7)
}

.border-pink-region2\/75 {
  border-color: rgb(255 184 201 / 0.75)
}

.border-pink-region2\/80 {
  border-color: rgb(255 184 201 / 0.8)
}

.border-pink-region2\/90 {
  border-color: rgb(255 184 201 / 0.9)
}

.border-pink-region2\/95 {
  border-color: rgb(255 184 201 / 0.95)
}

.border-pink-region2\/100 {
  border-color: rgb(255 184 201 / 1)
}

.border-pink-region3\/0 {
  border-color: rgb(255 209 220 / 0)
}

.border-pink-region3\/5 {
  border-color: rgb(255 209 220 / 0.05)
}

.border-pink-region3\/10 {
  border-color: rgb(255 209 220 / 0.1)
}

.border-pink-region3\/20 {
  border-color: rgb(255 209 220 / 0.2)
}

.border-pink-region3\/25 {
  border-color: rgb(255 209 220 / 0.25)
}

.border-pink-region3\/30 {
  border-color: rgb(255 209 220 / 0.3)
}

.border-pink-region3\/40 {
  border-color: rgb(255 209 220 / 0.4)
}

.border-pink-region3\/50 {
  border-color: rgb(255 209 220 / 0.5)
}

.border-pink-region3\/60 {
  border-color: rgb(255 209 220 / 0.6)
}

.border-pink-region3\/70 {
  border-color: rgb(255 209 220 / 0.7)
}

.border-pink-region3\/75 {
  border-color: rgb(255 209 220 / 0.75)
}

.border-pink-region3\/80 {
  border-color: rgb(255 209 220 / 0.8)
}

.border-pink-region3\/90 {
  border-color: rgb(255 209 220 / 0.9)
}

.border-pink-region3\/95 {
  border-color: rgb(255 209 220 / 0.95)
}

.border-pink-region3\/100 {
  border-color: rgb(255 209 220 / 1)
}

.border-pink-region4\/0 {
  border-color: rgb(255 235 239 / 0)
}

.border-pink-region4\/5 {
  border-color: rgb(255 235 239 / 0.05)
}

.border-pink-region4\/10 {
  border-color: rgb(255 235 239 / 0.1)
}

.border-pink-region4\/20 {
  border-color: rgb(255 235 239 / 0.2)
}

.border-pink-region4\/25 {
  border-color: rgb(255 235 239 / 0.25)
}

.border-pink-region4\/30 {
  border-color: rgb(255 235 239 / 0.3)
}

.border-pink-region4\/40 {
  border-color: rgb(255 235 239 / 0.4)
}

.border-pink-region4\/50 {
  border-color: rgb(255 235 239 / 0.5)
}

.border-pink-region4\/60 {
  border-color: rgb(255 235 239 / 0.6)
}

.border-pink-region4\/70 {
  border-color: rgb(255 235 239 / 0.7)
}

.border-pink-region4\/75 {
  border-color: rgb(255 235 239 / 0.75)
}

.border-pink-region4\/80 {
  border-color: rgb(255 235 239 / 0.8)
}

.border-pink-region4\/90 {
  border-color: rgb(255 235 239 / 0.9)
}

.border-pink-region4\/95 {
  border-color: rgb(255 235 239 / 0.95)
}

.border-pink-region4\/100 {
  border-color: rgb(255 235 239 / 1)
}

.border-pink-dark\/0 {
  border-color: rgb(255 46 96 / 0)
}

.border-pink-dark\/5 {
  border-color: rgb(255 46 96 / 0.05)
}

.border-pink-dark\/10 {
  border-color: rgb(255 46 96 / 0.1)
}

.border-pink-dark\/20 {
  border-color: rgb(255 46 96 / 0.2)
}

.border-pink-dark\/25 {
  border-color: rgb(255 46 96 / 0.25)
}

.border-pink-dark\/30 {
  border-color: rgb(255 46 96 / 0.3)
}

.border-pink-dark\/40 {
  border-color: rgb(255 46 96 / 0.4)
}

.border-pink-dark\/50 {
  border-color: rgb(255 46 96 / 0.5)
}

.border-pink-dark\/60 {
  border-color: rgb(255 46 96 / 0.6)
}

.border-pink-dark\/70 {
  border-color: rgb(255 46 96 / 0.7)
}

.border-pink-dark\/75 {
  border-color: rgb(255 46 96 / 0.75)
}

.border-pink-dark\/80 {
  border-color: rgb(255 46 96 / 0.8)
}

.border-pink-dark\/90 {
  border-color: rgb(255 46 96 / 0.9)
}

.border-pink-dark\/95 {
  border-color: rgb(255 46 96 / 0.95)
}

.border-pink-dark\/100 {
  border-color: rgb(255 46 96 / 1)
}

.border-black-normal\/0 {
  border-color: rgb(9 16 29 / 0)
}

.border-black-normal\/5 {
  border-color: rgb(9 16 29 / 0.05)
}

.border-black-normal\/10 {
  border-color: rgb(9 16 29 / 0.1)
}

.border-black-normal\/20 {
  border-color: rgb(9 16 29 / 0.2)
}

.border-black-normal\/25 {
  border-color: rgb(9 16 29 / 0.25)
}

.border-black-normal\/30 {
  border-color: rgb(9 16 29 / 0.3)
}

.border-black-normal\/40 {
  border-color: rgb(9 16 29 / 0.4)
}

.border-black-normal\/50 {
  border-color: rgb(9 16 29 / 0.5)
}

.border-black-normal\/60 {
  border-color: rgb(9 16 29 / 0.6)
}

.border-black-normal\/70 {
  border-color: rgb(9 16 29 / 0.7)
}

.border-black-normal\/75 {
  border-color: rgb(9 16 29 / 0.75)
}

.border-black-normal\/80 {
  border-color: rgb(9 16 29 / 0.8)
}

.border-black-normal\/90 {
  border-color: rgb(9 16 29 / 0.9)
}

.border-black-normal\/95 {
  border-color: rgb(9 16 29 / 0.95)
}

.border-black-normal\/100 {
  border-color: rgb(9 16 29 / 1)
}

.border-black-light\/0 {
  border-color: rgb(97 97 97 / 0)
}

.border-black-light\/5 {
  border-color: rgb(97 97 97 / 0.05)
}

.border-black-light\/10 {
  border-color: rgb(97 97 97 / 0.1)
}

.border-black-light\/20 {
  border-color: rgb(97 97 97 / 0.2)
}

.border-black-light\/25 {
  border-color: rgb(97 97 97 / 0.25)
}

.border-black-light\/30 {
  border-color: rgb(97 97 97 / 0.3)
}

.border-black-light\/40 {
  border-color: rgb(97 97 97 / 0.4)
}

.border-black-light\/50 {
  border-color: rgb(97 97 97 / 0.5)
}

.border-black-light\/60 {
  border-color: rgb(97 97 97 / 0.6)
}

.border-black-light\/70 {
  border-color: rgb(97 97 97 / 0.7)
}

.border-black-light\/75 {
  border-color: rgb(97 97 97 / 0.75)
}

.border-black-light\/80 {
  border-color: rgb(97 97 97 / 0.8)
}

.border-black-light\/90 {
  border-color: rgb(97 97 97 / 0.9)
}

.border-black-light\/95 {
  border-color: rgb(97 97 97 / 0.95)
}

.border-black-light\/100 {
  border-color: rgb(97 97 97 / 1)
}

.border-red-something\/0 {
  border-color: rgb(153 0 36 / 0)
}

.border-red-something\/5 {
  border-color: rgb(153 0 36 / 0.05)
}

.border-red-something\/10 {
  border-color: rgb(153 0 36 / 0.1)
}

.border-red-something\/20 {
  border-color: rgb(153 0 36 / 0.2)
}

.border-red-something\/25 {
  border-color: rgb(153 0 36 / 0.25)
}

.border-red-something\/30 {
  border-color: rgb(153 0 36 / 0.3)
}

.border-red-something\/40 {
  border-color: rgb(153 0 36 / 0.4)
}

.border-red-something\/50 {
  border-color: rgb(153 0 36 / 0.5)
}

.border-red-something\/60 {
  border-color: rgb(153 0 36 / 0.6)
}

.border-red-something\/70 {
  border-color: rgb(153 0 36 / 0.7)
}

.border-red-something\/75 {
  border-color: rgb(153 0 36 / 0.75)
}

.border-red-something\/80 {
  border-color: rgb(153 0 36 / 0.8)
}

.border-red-something\/90 {
  border-color: rgb(153 0 36 / 0.9)
}

.border-red-something\/95 {
  border-color: rgb(153 0 36 / 0.95)
}

.border-red-something\/100 {
  border-color: rgb(153 0 36 / 1)
}

.border-red-important\/0 {
  border-color: rgb(218 37 29 / 0)
}

.border-red-important\/5 {
  border-color: rgb(218 37 29 / 0.05)
}

.border-red-important\/10 {
  border-color: rgb(218 37 29 / 0.1)
}

.border-red-important\/20 {
  border-color: rgb(218 37 29 / 0.2)
}

.border-red-important\/25 {
  border-color: rgb(218 37 29 / 0.25)
}

.border-red-important\/30 {
  border-color: rgb(218 37 29 / 0.3)
}

.border-red-important\/40 {
  border-color: rgb(218 37 29 / 0.4)
}

.border-red-important\/50 {
  border-color: rgb(218 37 29 / 0.5)
}

.border-red-important\/60 {
  border-color: rgb(218 37 29 / 0.6)
}

.border-red-important\/70 {
  border-color: rgb(218 37 29 / 0.7)
}

.border-red-important\/75 {
  border-color: rgb(218 37 29 / 0.75)
}

.border-red-important\/80 {
  border-color: rgb(218 37 29 / 0.8)
}

.border-red-important\/90 {
  border-color: rgb(218 37 29 / 0.9)
}

.border-red-important\/95 {
  border-color: rgb(218 37 29 / 0.95)
}

.border-red-important\/100 {
  border-color: rgb(218 37 29 / 1)
}

.bg-gray-d9 {
  --tw-bg-opacity: 1;
  background-color: rgb(217 217 217 / var(--tw-bg-opacity))
}

.bg-purple-other {
  --tw-bg-opacity: 1;
  background-color: rgb(61 59 115 / var(--tw-bg-opacity))
}

.bg-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(29 161 242 / var(--tw-bg-opacity))
}

.bg-green {
  --tw-bg-opacity: 1;
  background-color: rgb(112 215 166 / var(--tw-bg-opacity))
}

.bg-yellow {
  --tw-bg-opacity: 1;
  background-color: rgb(251 188 5 / var(--tw-bg-opacity))
}

.bg-orange {
  --tw-bg-opacity: 1;
  background-color: rgb(245 145 36 / var(--tw-bg-opacity))
}

.bg-pink-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(255 133 162 / var(--tw-bg-opacity))
}

.bg-pink-region1 {
  --tw-bg-opacity: 1;
  background-color: rgb(255 158 181 / var(--tw-bg-opacity))
}

.bg-pink-region2 {
  --tw-bg-opacity: 1;
  background-color: rgb(255 184 201 / var(--tw-bg-opacity))
}

.bg-pink-region3 {
  --tw-bg-opacity: 1;
  background-color: rgb(255 209 220 / var(--tw-bg-opacity))
}

.bg-pink-region4 {
  --tw-bg-opacity: 1;
  background-color: rgb(255 235 239 / var(--tw-bg-opacity))
}

.bg-pink-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(255 46 96 / var(--tw-bg-opacity))
}

.bg-black-normal {
  --tw-bg-opacity: 1;
  background-color: rgb(9 16 29 / var(--tw-bg-opacity))
}

.bg-black-light {
  --tw-bg-opacity: 1;
  background-color: rgb(97 97 97 / var(--tw-bg-opacity))
}

.bg-red-something {
  --tw-bg-opacity: 1;
  background-color: rgb(153 0 36 / var(--tw-bg-opacity))
}

.bg-red-important {
  --tw-bg-opacity: 1;
  background-color: rgb(218 37 29 / var(--tw-bg-opacity))
}

.bg-gray-d9\/0 {
  background-color: rgb(217 217 217 / 0)
}

.bg-gray-d9\/5 {
  background-color: rgb(217 217 217 / 0.05)
}

.bg-gray-d9\/10 {
  background-color: rgb(217 217 217 / 0.1)
}

.bg-gray-d9\/20 {
  background-color: rgb(217 217 217 / 0.2)
}

.bg-gray-d9\/25 {
  background-color: rgb(217 217 217 / 0.25)
}

.bg-gray-d9\/30 {
  background-color: rgb(217 217 217 / 0.3)
}

.bg-gray-d9\/40 {
  background-color: rgb(217 217 217 / 0.4)
}

.bg-gray-d9\/50 {
  background-color: rgb(217 217 217 / 0.5)
}

.bg-gray-d9\/60 {
  background-color: rgb(217 217 217 / 0.6)
}

.bg-gray-d9\/70 {
  background-color: rgb(217 217 217 / 0.7)
}

.bg-gray-d9\/75 {
  background-color: rgb(217 217 217 / 0.75)
}

.bg-gray-d9\/80 {
  background-color: rgb(217 217 217 / 0.8)
}

.bg-gray-d9\/90 {
  background-color: rgb(217 217 217 / 0.9)
}

.bg-gray-d9\/95 {
  background-color: rgb(217 217 217 / 0.95)
}

.bg-gray-d9\/100 {
  background-color: rgb(217 217 217 / 1)
}

.bg-purple-other\/0 {
  background-color: rgb(61 59 115 / 0)
}

.bg-purple-other\/5 {
  background-color: rgb(61 59 115 / 0.05)
}

.bg-purple-other\/10 {
  background-color: rgb(61 59 115 / 0.1)
}

.bg-purple-other\/20 {
  background-color: rgb(61 59 115 / 0.2)
}

.bg-purple-other\/25 {
  background-color: rgb(61 59 115 / 0.25)
}

.bg-purple-other\/30 {
  background-color: rgb(61 59 115 / 0.3)
}

.bg-purple-other\/40 {
  background-color: rgb(61 59 115 / 0.4)
}

.bg-purple-other\/50 {
  background-color: rgb(61 59 115 / 0.5)
}

.bg-purple-other\/60 {
  background-color: rgb(61 59 115 / 0.6)
}

.bg-purple-other\/70 {
  background-color: rgb(61 59 115 / 0.7)
}

.bg-purple-other\/75 {
  background-color: rgb(61 59 115 / 0.75)
}

.bg-purple-other\/80 {
  background-color: rgb(61 59 115 / 0.8)
}

.bg-purple-other\/90 {
  background-color: rgb(61 59 115 / 0.9)
}

.bg-purple-other\/95 {
  background-color: rgb(61 59 115 / 0.95)
}

.bg-purple-other\/100 {
  background-color: rgb(61 59 115 / 1)
}

.bg-blue\/0 {
  background-color: rgb(29 161 242 / 0)
}

.bg-blue\/5 {
  background-color: rgb(29 161 242 / 0.05)
}

.bg-blue\/10 {
  background-color: rgb(29 161 242 / 0.1)
}

.bg-blue\/20 {
  background-color: rgb(29 161 242 / 0.2)
}

.bg-blue\/25 {
  background-color: rgb(29 161 242 / 0.25)
}

.bg-blue\/30 {
  background-color: rgb(29 161 242 / 0.3)
}

.bg-blue\/40 {
  background-color: rgb(29 161 242 / 0.4)
}

.bg-blue\/50 {
  background-color: rgb(29 161 242 / 0.5)
}

.bg-blue\/60 {
  background-color: rgb(29 161 242 / 0.6)
}

.bg-blue\/70 {
  background-color: rgb(29 161 242 / 0.7)
}

.bg-blue\/75 {
  background-color: rgb(29 161 242 / 0.75)
}

.bg-blue\/80 {
  background-color: rgb(29 161 242 / 0.8)
}

.bg-blue\/90 {
  background-color: rgb(29 161 242 / 0.9)
}

.bg-blue\/95 {
  background-color: rgb(29 161 242 / 0.95)
}

.bg-blue\/100 {
  background-color: rgb(29 161 242 / 1)
}

.bg-green\/0 {
  background-color: rgb(112 215 166 / 0)
}

.bg-green\/5 {
  background-color: rgb(112 215 166 / 0.05)
}

.bg-green\/10 {
  background-color: rgb(112 215 166 / 0.1)
}

.bg-green\/20 {
  background-color: rgb(112 215 166 / 0.2)
}

.bg-green\/25 {
  background-color: rgb(112 215 166 / 0.25)
}

.bg-green\/30 {
  background-color: rgb(112 215 166 / 0.3)
}

.bg-green\/40 {
  background-color: rgb(112 215 166 / 0.4)
}

.bg-green\/50 {
  background-color: rgb(112 215 166 / 0.5)
}

.bg-green\/60 {
  background-color: rgb(112 215 166 / 0.6)
}

.bg-green\/70 {
  background-color: rgb(112 215 166 / 0.7)
}

.bg-green\/75 {
  background-color: rgb(112 215 166 / 0.75)
}

.bg-green\/80 {
  background-color: rgb(112 215 166 / 0.8)
}

.bg-green\/90 {
  background-color: rgb(112 215 166 / 0.9)
}

.bg-green\/95 {
  background-color: rgb(112 215 166 / 0.95)
}

.bg-green\/100 {
  background-color: rgb(112 215 166 / 1)
}

.bg-yellow\/0 {
  background-color: rgb(251 188 5 / 0)
}

.bg-yellow\/5 {
  background-color: rgb(251 188 5 / 0.05)
}

.bg-yellow\/10 {
  background-color: rgb(251 188 5 / 0.1)
}

.bg-yellow\/20 {
  background-color: rgb(251 188 5 / 0.2)
}

.bg-yellow\/25 {
  background-color: rgb(251 188 5 / 0.25)
}

.bg-yellow\/30 {
  background-color: rgb(251 188 5 / 0.3)
}

.bg-yellow\/40 {
  background-color: rgb(251 188 5 / 0.4)
}

.bg-yellow\/50 {
  background-color: rgb(251 188 5 / 0.5)
}

.bg-yellow\/60 {
  background-color: rgb(251 188 5 / 0.6)
}

.bg-yellow\/70 {
  background-color: rgb(251 188 5 / 0.7)
}

.bg-yellow\/75 {
  background-color: rgb(251 188 5 / 0.75)
}

.bg-yellow\/80 {
  background-color: rgb(251 188 5 / 0.8)
}

.bg-yellow\/90 {
  background-color: rgb(251 188 5 / 0.9)
}

.bg-yellow\/95 {
  background-color: rgb(251 188 5 / 0.95)
}

.bg-yellow\/100 {
  background-color: rgb(251 188 5 / 1)
}

.bg-orange\/0 {
  background-color: rgb(245 145 36 / 0)
}

.bg-orange\/5 {
  background-color: rgb(245 145 36 / 0.05)
}

.bg-orange\/10 {
  background-color: rgb(245 145 36 / 0.1)
}

.bg-orange\/20 {
  background-color: rgb(245 145 36 / 0.2)
}

.bg-orange\/25 {
  background-color: rgb(245 145 36 / 0.25)
}

.bg-orange\/30 {
  background-color: rgb(245 145 36 / 0.3)
}

.bg-orange\/40 {
  background-color: rgb(245 145 36 / 0.4)
}

.bg-orange\/50 {
  background-color: rgb(245 145 36 / 0.5)
}

.bg-orange\/60 {
  background-color: rgb(245 145 36 / 0.6)
}

.bg-orange\/70 {
  background-color: rgb(245 145 36 / 0.7)
}

.bg-orange\/75 {
  background-color: rgb(245 145 36 / 0.75)
}

.bg-orange\/80 {
  background-color: rgb(245 145 36 / 0.8)
}

.bg-orange\/90 {
  background-color: rgb(245 145 36 / 0.9)
}

.bg-orange\/95 {
  background-color: rgb(245 145 36 / 0.95)
}

.bg-orange\/100 {
  background-color: rgb(245 145 36 / 1)
}

.bg-pink-primary\/0 {
  background-color: rgb(255 133 162 / 0)
}

.bg-pink-primary\/5 {
  background-color: rgb(255 133 162 / 0.05)
}

.bg-pink-primary\/10 {
  background-color: rgb(255 133 162 / 0.1)
}

.bg-pink-primary\/20 {
  background-color: rgb(255 133 162 / 0.2)
}

.bg-pink-primary\/25 {
  background-color: rgb(255 133 162 / 0.25)
}

.bg-pink-primary\/30 {
  background-color: rgb(255 133 162 / 0.3)
}

.bg-pink-primary\/40 {
  background-color: rgb(255 133 162 / 0.4)
}

.bg-pink-primary\/50 {
  background-color: rgb(255 133 162 / 0.5)
}

.bg-pink-primary\/60 {
  background-color: rgb(255 133 162 / 0.6)
}

.bg-pink-primary\/70 {
  background-color: rgb(255 133 162 / 0.7)
}

.bg-pink-primary\/75 {
  background-color: rgb(255 133 162 / 0.75)
}

.bg-pink-primary\/80 {
  background-color: rgb(255 133 162 / 0.8)
}

.bg-pink-primary\/90 {
  background-color: rgb(255 133 162 / 0.9)
}

.bg-pink-primary\/95 {
  background-color: rgb(255 133 162 / 0.95)
}

.bg-pink-primary\/100 {
  background-color: rgb(255 133 162 / 1)
}

.bg-pink-region1\/0 {
  background-color: rgb(255 158 181 / 0)
}

.bg-pink-region1\/5 {
  background-color: rgb(255 158 181 / 0.05)
}

.bg-pink-region1\/10 {
  background-color: rgb(255 158 181 / 0.1)
}

.bg-pink-region1\/20 {
  background-color: rgb(255 158 181 / 0.2)
}

.bg-pink-region1\/25 {
  background-color: rgb(255 158 181 / 0.25)
}

.bg-pink-region1\/30 {
  background-color: rgb(255 158 181 / 0.3)
}

.bg-pink-region1\/40 {
  background-color: rgb(255 158 181 / 0.4)
}

.bg-pink-region1\/50 {
  background-color: rgb(255 158 181 / 0.5)
}

.bg-pink-region1\/60 {
  background-color: rgb(255 158 181 / 0.6)
}

.bg-pink-region1\/70 {
  background-color: rgb(255 158 181 / 0.7)
}

.bg-pink-region1\/75 {
  background-color: rgb(255 158 181 / 0.75)
}

.bg-pink-region1\/80 {
  background-color: rgb(255 158 181 / 0.8)
}

.bg-pink-region1\/90 {
  background-color: rgb(255 158 181 / 0.9)
}

.bg-pink-region1\/95 {
  background-color: rgb(255 158 181 / 0.95)
}

.bg-pink-region1\/100 {
  background-color: rgb(255 158 181 / 1)
}

.bg-pink-region2\/0 {
  background-color: rgb(255 184 201 / 0)
}

.bg-pink-region2\/5 {
  background-color: rgb(255 184 201 / 0.05)
}

.bg-pink-region2\/10 {
  background-color: rgb(255 184 201 / 0.1)
}

.bg-pink-region2\/20 {
  background-color: rgb(255 184 201 / 0.2)
}

.bg-pink-region2\/25 {
  background-color: rgb(255 184 201 / 0.25)
}

.bg-pink-region2\/30 {
  background-color: rgb(255 184 201 / 0.3)
}

.bg-pink-region2\/40 {
  background-color: rgb(255 184 201 / 0.4)
}

.bg-pink-region2\/50 {
  background-color: rgb(255 184 201 / 0.5)
}

.bg-pink-region2\/60 {
  background-color: rgb(255 184 201 / 0.6)
}

.bg-pink-region2\/70 {
  background-color: rgb(255 184 201 / 0.7)
}

.bg-pink-region2\/75 {
  background-color: rgb(255 184 201 / 0.75)
}

.bg-pink-region2\/80 {
  background-color: rgb(255 184 201 / 0.8)
}

.bg-pink-region2\/90 {
  background-color: rgb(255 184 201 / 0.9)
}

.bg-pink-region2\/95 {
  background-color: rgb(255 184 201 / 0.95)
}

.bg-pink-region2\/100 {
  background-color: rgb(255 184 201 / 1)
}

.bg-pink-region3\/0 {
  background-color: rgb(255 209 220 / 0)
}

.bg-pink-region3\/5 {
  background-color: rgb(255 209 220 / 0.05)
}

.bg-pink-region3\/10 {
  background-color: rgb(255 209 220 / 0.1)
}

.bg-pink-region3\/20 {
  background-color: rgb(255 209 220 / 0.2)
}

.bg-pink-region3\/25 {
  background-color: rgb(255 209 220 / 0.25)
}

.bg-pink-region3\/30 {
  background-color: rgb(255 209 220 / 0.3)
}

.bg-pink-region3\/40 {
  background-color: rgb(255 209 220 / 0.4)
}

.bg-pink-region3\/50 {
  background-color: rgb(255 209 220 / 0.5)
}

.bg-pink-region3\/60 {
  background-color: rgb(255 209 220 / 0.6)
}

.bg-pink-region3\/70 {
  background-color: rgb(255 209 220 / 0.7)
}

.bg-pink-region3\/75 {
  background-color: rgb(255 209 220 / 0.75)
}

.bg-pink-region3\/80 {
  background-color: rgb(255 209 220 / 0.8)
}

.bg-pink-region3\/90 {
  background-color: rgb(255 209 220 / 0.9)
}

.bg-pink-region3\/95 {
  background-color: rgb(255 209 220 / 0.95)
}

.bg-pink-region3\/100 {
  background-color: rgb(255 209 220 / 1)
}

.bg-pink-region4\/0 {
  background-color: rgb(255 235 239 / 0)
}

.bg-pink-region4\/5 {
  background-color: rgb(255 235 239 / 0.05)
}

.bg-pink-region4\/10 {
  background-color: rgb(255 235 239 / 0.1)
}

.bg-pink-region4\/20 {
  background-color: rgb(255 235 239 / 0.2)
}

.bg-pink-region4\/25 {
  background-color: rgb(255 235 239 / 0.25)
}

.bg-pink-region4\/30 {
  background-color: rgb(255 235 239 / 0.3)
}

.bg-pink-region4\/40 {
  background-color: rgb(255 235 239 / 0.4)
}

.bg-pink-region4\/50 {
  background-color: rgb(255 235 239 / 0.5)
}

.bg-pink-region4\/60 {
  background-color: rgb(255 235 239 / 0.6)
}

.bg-pink-region4\/70 {
  background-color: rgb(255 235 239 / 0.7)
}

.bg-pink-region4\/75 {
  background-color: rgb(255 235 239 / 0.75)
}

.bg-pink-region4\/80 {
  background-color: rgb(255 235 239 / 0.8)
}

.bg-pink-region4\/90 {
  background-color: rgb(255 235 239 / 0.9)
}

.bg-pink-region4\/95 {
  background-color: rgb(255 235 239 / 0.95)
}

.bg-pink-region4\/100 {
  background-color: rgb(255 235 239 / 1)
}

.bg-pink-dark\/0 {
  background-color: rgb(255 46 96 / 0)
}

.bg-pink-dark\/5 {
  background-color: rgb(255 46 96 / 0.05)
}

.bg-pink-dark\/10 {
  background-color: rgb(255 46 96 / 0.1)
}

.bg-pink-dark\/20 {
  background-color: rgb(255 46 96 / 0.2)
}

.bg-pink-dark\/25 {
  background-color: rgb(255 46 96 / 0.25)
}

.bg-pink-dark\/30 {
  background-color: rgb(255 46 96 / 0.3)
}

.bg-pink-dark\/40 {
  background-color: rgb(255 46 96 / 0.4)
}

.bg-pink-dark\/50 {
  background-color: rgb(255 46 96 / 0.5)
}

.bg-pink-dark\/60 {
  background-color: rgb(255 46 96 / 0.6)
}

.bg-pink-dark\/70 {
  background-color: rgb(255 46 96 / 0.7)
}

.bg-pink-dark\/75 {
  background-color: rgb(255 46 96 / 0.75)
}

.bg-pink-dark\/80 {
  background-color: rgb(255 46 96 / 0.8)
}

.bg-pink-dark\/90 {
  background-color: rgb(255 46 96 / 0.9)
}

.bg-pink-dark\/95 {
  background-color: rgb(255 46 96 / 0.95)
}

.bg-pink-dark\/100 {
  background-color: rgb(255 46 96 / 1)
}

.bg-black-normal\/0 {
  background-color: rgb(9 16 29 / 0)
}

.bg-black-normal\/5 {
  background-color: rgb(9 16 29 / 0.05)
}

.bg-black-normal\/10 {
  background-color: rgb(9 16 29 / 0.1)
}

.bg-black-normal\/20 {
  background-color: rgb(9 16 29 / 0.2)
}

.bg-black-normal\/25 {
  background-color: rgb(9 16 29 / 0.25)
}

.bg-black-normal\/30 {
  background-color: rgb(9 16 29 / 0.3)
}

.bg-black-normal\/40 {
  background-color: rgb(9 16 29 / 0.4)
}

.bg-black-normal\/50 {
  background-color: rgb(9 16 29 / 0.5)
}

.bg-black-normal\/60 {
  background-color: rgb(9 16 29 / 0.6)
}

.bg-black-normal\/70 {
  background-color: rgb(9 16 29 / 0.7)
}

.bg-black-normal\/75 {
  background-color: rgb(9 16 29 / 0.75)
}

.bg-black-normal\/80 {
  background-color: rgb(9 16 29 / 0.8)
}

.bg-black-normal\/90 {
  background-color: rgb(9 16 29 / 0.9)
}

.bg-black-normal\/95 {
  background-color: rgb(9 16 29 / 0.95)
}

.bg-black-normal\/100 {
  background-color: rgb(9 16 29 / 1)
}

.bg-black-light\/0 {
  background-color: rgb(97 97 97 / 0)
}

.bg-black-light\/5 {
  background-color: rgb(97 97 97 / 0.05)
}

.bg-black-light\/10 {
  background-color: rgb(97 97 97 / 0.1)
}

.bg-black-light\/20 {
  background-color: rgb(97 97 97 / 0.2)
}

.bg-black-light\/25 {
  background-color: rgb(97 97 97 / 0.25)
}

.bg-black-light\/30 {
  background-color: rgb(97 97 97 / 0.3)
}

.bg-black-light\/40 {
  background-color: rgb(97 97 97 / 0.4)
}

.bg-black-light\/50 {
  background-color: rgb(97 97 97 / 0.5)
}

.bg-black-light\/60 {
  background-color: rgb(97 97 97 / 0.6)
}

.bg-black-light\/70 {
  background-color: rgb(97 97 97 / 0.7)
}

.bg-black-light\/75 {
  background-color: rgb(97 97 97 / 0.75)
}

.bg-black-light\/80 {
  background-color: rgb(97 97 97 / 0.8)
}

.bg-black-light\/90 {
  background-color: rgb(97 97 97 / 0.9)
}

.bg-black-light\/95 {
  background-color: rgb(97 97 97 / 0.95)
}

.bg-black-light\/100 {
  background-color: rgb(97 97 97 / 1)
}

.bg-red-something\/0 {
  background-color: rgb(153 0 36 / 0)
}

.bg-red-something\/5 {
  background-color: rgb(153 0 36 / 0.05)
}

.bg-red-something\/10 {
  background-color: rgb(153 0 36 / 0.1)
}

.bg-red-something\/20 {
  background-color: rgb(153 0 36 / 0.2)
}

.bg-red-something\/25 {
  background-color: rgb(153 0 36 / 0.25)
}

.bg-red-something\/30 {
  background-color: rgb(153 0 36 / 0.3)
}

.bg-red-something\/40 {
  background-color: rgb(153 0 36 / 0.4)
}

.bg-red-something\/50 {
  background-color: rgb(153 0 36 / 0.5)
}

.bg-red-something\/60 {
  background-color: rgb(153 0 36 / 0.6)
}

.bg-red-something\/70 {
  background-color: rgb(153 0 36 / 0.7)
}

.bg-red-something\/75 {
  background-color: rgb(153 0 36 / 0.75)
}

.bg-red-something\/80 {
  background-color: rgb(153 0 36 / 0.8)
}

.bg-red-something\/90 {
  background-color: rgb(153 0 36 / 0.9)
}

.bg-red-something\/95 {
  background-color: rgb(153 0 36 / 0.95)
}

.bg-red-something\/100 {
  background-color: rgb(153 0 36 / 1)
}

.bg-red-important\/0 {
  background-color: rgb(218 37 29 / 0)
}

.bg-red-important\/5 {
  background-color: rgb(218 37 29 / 0.05)
}

.bg-red-important\/10 {
  background-color: rgb(218 37 29 / 0.1)
}

.bg-red-important\/20 {
  background-color: rgb(218 37 29 / 0.2)
}

.bg-red-important\/25 {
  background-color: rgb(218 37 29 / 0.25)
}

.bg-red-important\/30 {
  background-color: rgb(218 37 29 / 0.3)
}

.bg-red-important\/40 {
  background-color: rgb(218 37 29 / 0.4)
}

.bg-red-important\/50 {
  background-color: rgb(218 37 29 / 0.5)
}

.bg-red-important\/60 {
  background-color: rgb(218 37 29 / 0.6)
}

.bg-red-important\/70 {
  background-color: rgb(218 37 29 / 0.7)
}

.bg-red-important\/75 {
  background-color: rgb(218 37 29 / 0.75)
}

.bg-red-important\/80 {
  background-color: rgb(218 37 29 / 0.8)
}

.bg-red-important\/90 {
  background-color: rgb(218 37 29 / 0.9)
}

.bg-red-important\/95 {
  background-color: rgb(218 37 29 / 0.95)
}

.bg-red-important\/100 {
  background-color: rgb(218 37 29 / 1)
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.p-2 {
  padding: 0.5rem
}

.p-4 {
  padding: 1rem
}

.p-3 {
  padding: 0.75rem
}

.p-5 {
  padding: 1.25rem
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.pb-5 {
  padding-bottom: 1.25rem
}

.pt-20 {
  padding-top: 5rem
}

.pl-4 {
  padding-left: 1rem
}

.pt-1 {
  padding-top: 0.25rem
}

.pb-2 {
  padding-bottom: 0.5rem
}

.pl-2 {
  padding-left: 0.5rem
}

.text-center {
  text-align: center
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.font-bold {
  font-weight: 700
}

.font-semibold {
  font-weight: 600
}

.text-gray-d9 {
  --tw-text-opacity: 1;
  color: rgb(217 217 217 / var(--tw-text-opacity))
}

.text-purple-other {
  --tw-text-opacity: 1;
  color: rgb(61 59 115 / var(--tw-text-opacity))
}

.text-blue {
  --tw-text-opacity: 1;
  color: rgb(29 161 242 / var(--tw-text-opacity))
}

.text-green {
  --tw-text-opacity: 1;
  color: rgb(112 215 166 / var(--tw-text-opacity))
}

.text-yellow {
  --tw-text-opacity: 1;
  color: rgb(251 188 5 / var(--tw-text-opacity))
}

.text-orange {
  --tw-text-opacity: 1;
  color: rgb(245 145 36 / var(--tw-text-opacity))
}

.text-pink-primary {
  --tw-text-opacity: 1;
  color: rgb(255 133 162 / var(--tw-text-opacity))
}

.text-pink-region1 {
  --tw-text-opacity: 1;
  color: rgb(255 158 181 / var(--tw-text-opacity))
}

.text-pink-region2 {
  --tw-text-opacity: 1;
  color: rgb(255 184 201 / var(--tw-text-opacity))
}

.text-pink-region3 {
  --tw-text-opacity: 1;
  color: rgb(255 209 220 / var(--tw-text-opacity))
}

.text-pink-region4 {
  --tw-text-opacity: 1;
  color: rgb(255 235 239 / var(--tw-text-opacity))
}

.text-pink-dark {
  --tw-text-opacity: 1;
  color: rgb(255 46 96 / var(--tw-text-opacity))
}

.text-black-normal {
  --tw-text-opacity: 1;
  color: rgb(9 16 29 / var(--tw-text-opacity))
}

.text-black-light {
  --tw-text-opacity: 1;
  color: rgb(97 97 97 / var(--tw-text-opacity))
}

.text-red-something {
  --tw-text-opacity: 1;
  color: rgb(153 0 36 / var(--tw-text-opacity))
}

.text-red-important {
  --tw-text-opacity: 1;
  color: rgb(218 37 29 / var(--tw-text-opacity))
}

.text-gray-d9\/0 {
  color: rgb(217 217 217 / 0)
}

.text-gray-d9\/5 {
  color: rgb(217 217 217 / 0.05)
}

.text-gray-d9\/10 {
  color: rgb(217 217 217 / 0.1)
}

.text-gray-d9\/20 {
  color: rgb(217 217 217 / 0.2)
}

.text-gray-d9\/25 {
  color: rgb(217 217 217 / 0.25)
}

.text-gray-d9\/30 {
  color: rgb(217 217 217 / 0.3)
}

.text-gray-d9\/40 {
  color: rgb(217 217 217 / 0.4)
}

.text-gray-d9\/50 {
  color: rgb(217 217 217 / 0.5)
}

.text-gray-d9\/60 {
  color: rgb(217 217 217 / 0.6)
}

.text-gray-d9\/70 {
  color: rgb(217 217 217 / 0.7)
}

.text-gray-d9\/75 {
  color: rgb(217 217 217 / 0.75)
}

.text-gray-d9\/80 {
  color: rgb(217 217 217 / 0.8)
}

.text-gray-d9\/90 {
  color: rgb(217 217 217 / 0.9)
}

.text-gray-d9\/95 {
  color: rgb(217 217 217 / 0.95)
}

.text-gray-d9\/100 {
  color: rgb(217 217 217 / 1)
}

.text-purple-other\/0 {
  color: rgb(61 59 115 / 0)
}

.text-purple-other\/5 {
  color: rgb(61 59 115 / 0.05)
}

.text-purple-other\/10 {
  color: rgb(61 59 115 / 0.1)
}

.text-purple-other\/20 {
  color: rgb(61 59 115 / 0.2)
}

.text-purple-other\/25 {
  color: rgb(61 59 115 / 0.25)
}

.text-purple-other\/30 {
  color: rgb(61 59 115 / 0.3)
}

.text-purple-other\/40 {
  color: rgb(61 59 115 / 0.4)
}

.text-purple-other\/50 {
  color: rgb(61 59 115 / 0.5)
}

.text-purple-other\/60 {
  color: rgb(61 59 115 / 0.6)
}

.text-purple-other\/70 {
  color: rgb(61 59 115 / 0.7)
}

.text-purple-other\/75 {
  color: rgb(61 59 115 / 0.75)
}

.text-purple-other\/80 {
  color: rgb(61 59 115 / 0.8)
}

.text-purple-other\/90 {
  color: rgb(61 59 115 / 0.9)
}

.text-purple-other\/95 {
  color: rgb(61 59 115 / 0.95)
}

.text-purple-other\/100 {
  color: rgb(61 59 115 / 1)
}

.text-blue\/0 {
  color: rgb(29 161 242 / 0)
}

.text-blue\/5 {
  color: rgb(29 161 242 / 0.05)
}

.text-blue\/10 {
  color: rgb(29 161 242 / 0.1)
}

.text-blue\/20 {
  color: rgb(29 161 242 / 0.2)
}

.text-blue\/25 {
  color: rgb(29 161 242 / 0.25)
}

.text-blue\/30 {
  color: rgb(29 161 242 / 0.3)
}

.text-blue\/40 {
  color: rgb(29 161 242 / 0.4)
}

.text-blue\/50 {
  color: rgb(29 161 242 / 0.5)
}

.text-blue\/60 {
  color: rgb(29 161 242 / 0.6)
}

.text-blue\/70 {
  color: rgb(29 161 242 / 0.7)
}

.text-blue\/75 {
  color: rgb(29 161 242 / 0.75)
}

.text-blue\/80 {
  color: rgb(29 161 242 / 0.8)
}

.text-blue\/90 {
  color: rgb(29 161 242 / 0.9)
}

.text-blue\/95 {
  color: rgb(29 161 242 / 0.95)
}

.text-blue\/100 {
  color: rgb(29 161 242 / 1)
}

.text-green\/0 {
  color: rgb(112 215 166 / 0)
}

.text-green\/5 {
  color: rgb(112 215 166 / 0.05)
}

.text-green\/10 {
  color: rgb(112 215 166 / 0.1)
}

.text-green\/20 {
  color: rgb(112 215 166 / 0.2)
}

.text-green\/25 {
  color: rgb(112 215 166 / 0.25)
}

.text-green\/30 {
  color: rgb(112 215 166 / 0.3)
}

.text-green\/40 {
  color: rgb(112 215 166 / 0.4)
}

.text-green\/50 {
  color: rgb(112 215 166 / 0.5)
}

.text-green\/60 {
  color: rgb(112 215 166 / 0.6)
}

.text-green\/70 {
  color: rgb(112 215 166 / 0.7)
}

.text-green\/75 {
  color: rgb(112 215 166 / 0.75)
}

.text-green\/80 {
  color: rgb(112 215 166 / 0.8)
}

.text-green\/90 {
  color: rgb(112 215 166 / 0.9)
}

.text-green\/95 {
  color: rgb(112 215 166 / 0.95)
}

.text-green\/100 {
  color: rgb(112 215 166 / 1)
}

.text-yellow\/0 {
  color: rgb(251 188 5 / 0)
}

.text-yellow\/5 {
  color: rgb(251 188 5 / 0.05)
}

.text-yellow\/10 {
  color: rgb(251 188 5 / 0.1)
}

.text-yellow\/20 {
  color: rgb(251 188 5 / 0.2)
}

.text-yellow\/25 {
  color: rgb(251 188 5 / 0.25)
}

.text-yellow\/30 {
  color: rgb(251 188 5 / 0.3)
}

.text-yellow\/40 {
  color: rgb(251 188 5 / 0.4)
}

.text-yellow\/50 {
  color: rgb(251 188 5 / 0.5)
}

.text-yellow\/60 {
  color: rgb(251 188 5 / 0.6)
}

.text-yellow\/70 {
  color: rgb(251 188 5 / 0.7)
}

.text-yellow\/75 {
  color: rgb(251 188 5 / 0.75)
}

.text-yellow\/80 {
  color: rgb(251 188 5 / 0.8)
}

.text-yellow\/90 {
  color: rgb(251 188 5 / 0.9)
}

.text-yellow\/95 {
  color: rgb(251 188 5 / 0.95)
}

.text-yellow\/100 {
  color: rgb(251 188 5 / 1)
}

.text-orange\/0 {
  color: rgb(245 145 36 / 0)
}

.text-orange\/5 {
  color: rgb(245 145 36 / 0.05)
}

.text-orange\/10 {
  color: rgb(245 145 36 / 0.1)
}

.text-orange\/20 {
  color: rgb(245 145 36 / 0.2)
}

.text-orange\/25 {
  color: rgb(245 145 36 / 0.25)
}

.text-orange\/30 {
  color: rgb(245 145 36 / 0.3)
}

.text-orange\/40 {
  color: rgb(245 145 36 / 0.4)
}

.text-orange\/50 {
  color: rgb(245 145 36 / 0.5)
}

.text-orange\/60 {
  color: rgb(245 145 36 / 0.6)
}

.text-orange\/70 {
  color: rgb(245 145 36 / 0.7)
}

.text-orange\/75 {
  color: rgb(245 145 36 / 0.75)
}

.text-orange\/80 {
  color: rgb(245 145 36 / 0.8)
}

.text-orange\/90 {
  color: rgb(245 145 36 / 0.9)
}

.text-orange\/95 {
  color: rgb(245 145 36 / 0.95)
}

.text-orange\/100 {
  color: rgb(245 145 36 / 1)
}

.text-pink-primary\/0 {
  color: rgb(255 133 162 / 0)
}

.text-pink-primary\/5 {
  color: rgb(255 133 162 / 0.05)
}

.text-pink-primary\/10 {
  color: rgb(255 133 162 / 0.1)
}

.text-pink-primary\/20 {
  color: rgb(255 133 162 / 0.2)
}

.text-pink-primary\/25 {
  color: rgb(255 133 162 / 0.25)
}

.text-pink-primary\/30 {
  color: rgb(255 133 162 / 0.3)
}

.text-pink-primary\/40 {
  color: rgb(255 133 162 / 0.4)
}

.text-pink-primary\/50 {
  color: rgb(255 133 162 / 0.5)
}

.text-pink-primary\/60 {
  color: rgb(255 133 162 / 0.6)
}

.text-pink-primary\/70 {
  color: rgb(255 133 162 / 0.7)
}

.text-pink-primary\/75 {
  color: rgb(255 133 162 / 0.75)
}

.text-pink-primary\/80 {
  color: rgb(255 133 162 / 0.8)
}

.text-pink-primary\/90 {
  color: rgb(255 133 162 / 0.9)
}

.text-pink-primary\/95 {
  color: rgb(255 133 162 / 0.95)
}

.text-pink-primary\/100 {
  color: rgb(255 133 162 / 1)
}

.text-pink-region1\/0 {
  color: rgb(255 158 181 / 0)
}

.text-pink-region1\/5 {
  color: rgb(255 158 181 / 0.05)
}

.text-pink-region1\/10 {
  color: rgb(255 158 181 / 0.1)
}

.text-pink-region1\/20 {
  color: rgb(255 158 181 / 0.2)
}

.text-pink-region1\/25 {
  color: rgb(255 158 181 / 0.25)
}

.text-pink-region1\/30 {
  color: rgb(255 158 181 / 0.3)
}

.text-pink-region1\/40 {
  color: rgb(255 158 181 / 0.4)
}

.text-pink-region1\/50 {
  color: rgb(255 158 181 / 0.5)
}

.text-pink-region1\/60 {
  color: rgb(255 158 181 / 0.6)
}

.text-pink-region1\/70 {
  color: rgb(255 158 181 / 0.7)
}

.text-pink-region1\/75 {
  color: rgb(255 158 181 / 0.75)
}

.text-pink-region1\/80 {
  color: rgb(255 158 181 / 0.8)
}

.text-pink-region1\/90 {
  color: rgb(255 158 181 / 0.9)
}

.text-pink-region1\/95 {
  color: rgb(255 158 181 / 0.95)
}

.text-pink-region1\/100 {
  color: rgb(255 158 181 / 1)
}

.text-pink-region2\/0 {
  color: rgb(255 184 201 / 0)
}

.text-pink-region2\/5 {
  color: rgb(255 184 201 / 0.05)
}

.text-pink-region2\/10 {
  color: rgb(255 184 201 / 0.1)
}

.text-pink-region2\/20 {
  color: rgb(255 184 201 / 0.2)
}

.text-pink-region2\/25 {
  color: rgb(255 184 201 / 0.25)
}

.text-pink-region2\/30 {
  color: rgb(255 184 201 / 0.3)
}

.text-pink-region2\/40 {
  color: rgb(255 184 201 / 0.4)
}

.text-pink-region2\/50 {
  color: rgb(255 184 201 / 0.5)
}

.text-pink-region2\/60 {
  color: rgb(255 184 201 / 0.6)
}

.text-pink-region2\/70 {
  color: rgb(255 184 201 / 0.7)
}

.text-pink-region2\/75 {
  color: rgb(255 184 201 / 0.75)
}

.text-pink-region2\/80 {
  color: rgb(255 184 201 / 0.8)
}

.text-pink-region2\/90 {
  color: rgb(255 184 201 / 0.9)
}

.text-pink-region2\/95 {
  color: rgb(255 184 201 / 0.95)
}

.text-pink-region2\/100 {
  color: rgb(255 184 201 / 1)
}

.text-pink-region3\/0 {
  color: rgb(255 209 220 / 0)
}

.text-pink-region3\/5 {
  color: rgb(255 209 220 / 0.05)
}

.text-pink-region3\/10 {
  color: rgb(255 209 220 / 0.1)
}

.text-pink-region3\/20 {
  color: rgb(255 209 220 / 0.2)
}

.text-pink-region3\/25 {
  color: rgb(255 209 220 / 0.25)
}

.text-pink-region3\/30 {
  color: rgb(255 209 220 / 0.3)
}

.text-pink-region3\/40 {
  color: rgb(255 209 220 / 0.4)
}

.text-pink-region3\/50 {
  color: rgb(255 209 220 / 0.5)
}

.text-pink-region3\/60 {
  color: rgb(255 209 220 / 0.6)
}

.text-pink-region3\/70 {
  color: rgb(255 209 220 / 0.7)
}

.text-pink-region3\/75 {
  color: rgb(255 209 220 / 0.75)
}

.text-pink-region3\/80 {
  color: rgb(255 209 220 / 0.8)
}

.text-pink-region3\/90 {
  color: rgb(255 209 220 / 0.9)
}

.text-pink-region3\/95 {
  color: rgb(255 209 220 / 0.95)
}

.text-pink-region3\/100 {
  color: rgb(255 209 220 / 1)
}

.text-pink-region4\/0 {
  color: rgb(255 235 239 / 0)
}

.text-pink-region4\/5 {
  color: rgb(255 235 239 / 0.05)
}

.text-pink-region4\/10 {
  color: rgb(255 235 239 / 0.1)
}

.text-pink-region4\/20 {
  color: rgb(255 235 239 / 0.2)
}

.text-pink-region4\/25 {
  color: rgb(255 235 239 / 0.25)
}

.text-pink-region4\/30 {
  color: rgb(255 235 239 / 0.3)
}

.text-pink-region4\/40 {
  color: rgb(255 235 239 / 0.4)
}

.text-pink-region4\/50 {
  color: rgb(255 235 239 / 0.5)
}

.text-pink-region4\/60 {
  color: rgb(255 235 239 / 0.6)
}

.text-pink-region4\/70 {
  color: rgb(255 235 239 / 0.7)
}

.text-pink-region4\/75 {
  color: rgb(255 235 239 / 0.75)
}

.text-pink-region4\/80 {
  color: rgb(255 235 239 / 0.8)
}

.text-pink-region4\/90 {
  color: rgb(255 235 239 / 0.9)
}

.text-pink-region4\/95 {
  color: rgb(255 235 239 / 0.95)
}

.text-pink-region4\/100 {
  color: rgb(255 235 239 / 1)
}

.text-pink-dark\/0 {
  color: rgb(255 46 96 / 0)
}

.text-pink-dark\/5 {
  color: rgb(255 46 96 / 0.05)
}

.text-pink-dark\/10 {
  color: rgb(255 46 96 / 0.1)
}

.text-pink-dark\/20 {
  color: rgb(255 46 96 / 0.2)
}

.text-pink-dark\/25 {
  color: rgb(255 46 96 / 0.25)
}

.text-pink-dark\/30 {
  color: rgb(255 46 96 / 0.3)
}

.text-pink-dark\/40 {
  color: rgb(255 46 96 / 0.4)
}

.text-pink-dark\/50 {
  color: rgb(255 46 96 / 0.5)
}

.text-pink-dark\/60 {
  color: rgb(255 46 96 / 0.6)
}

.text-pink-dark\/70 {
  color: rgb(255 46 96 / 0.7)
}

.text-pink-dark\/75 {
  color: rgb(255 46 96 / 0.75)
}

.text-pink-dark\/80 {
  color: rgb(255 46 96 / 0.8)
}

.text-pink-dark\/90 {
  color: rgb(255 46 96 / 0.9)
}

.text-pink-dark\/95 {
  color: rgb(255 46 96 / 0.95)
}

.text-pink-dark\/100 {
  color: rgb(255 46 96 / 1)
}

.text-black-normal\/0 {
  color: rgb(9 16 29 / 0)
}

.text-black-normal\/5 {
  color: rgb(9 16 29 / 0.05)
}

.text-black-normal\/10 {
  color: rgb(9 16 29 / 0.1)
}

.text-black-normal\/20 {
  color: rgb(9 16 29 / 0.2)
}

.text-black-normal\/25 {
  color: rgb(9 16 29 / 0.25)
}

.text-black-normal\/30 {
  color: rgb(9 16 29 / 0.3)
}

.text-black-normal\/40 {
  color: rgb(9 16 29 / 0.4)
}

.text-black-normal\/50 {
  color: rgb(9 16 29 / 0.5)
}

.text-black-normal\/60 {
  color: rgb(9 16 29 / 0.6)
}

.text-black-normal\/70 {
  color: rgb(9 16 29 / 0.7)
}

.text-black-normal\/75 {
  color: rgb(9 16 29 / 0.75)
}

.text-black-normal\/80 {
  color: rgb(9 16 29 / 0.8)
}

.text-black-normal\/90 {
  color: rgb(9 16 29 / 0.9)
}

.text-black-normal\/95 {
  color: rgb(9 16 29 / 0.95)
}

.text-black-normal\/100 {
  color: rgb(9 16 29 / 1)
}

.text-black-light\/0 {
  color: rgb(97 97 97 / 0)
}

.text-black-light\/5 {
  color: rgb(97 97 97 / 0.05)
}

.text-black-light\/10 {
  color: rgb(97 97 97 / 0.1)
}

.text-black-light\/20 {
  color: rgb(97 97 97 / 0.2)
}

.text-black-light\/25 {
  color: rgb(97 97 97 / 0.25)
}

.text-black-light\/30 {
  color: rgb(97 97 97 / 0.3)
}

.text-black-light\/40 {
  color: rgb(97 97 97 / 0.4)
}

.text-black-light\/50 {
  color: rgb(97 97 97 / 0.5)
}

.text-black-light\/60 {
  color: rgb(97 97 97 / 0.6)
}

.text-black-light\/70 {
  color: rgb(97 97 97 / 0.7)
}

.text-black-light\/75 {
  color: rgb(97 97 97 / 0.75)
}

.text-black-light\/80 {
  color: rgb(97 97 97 / 0.8)
}

.text-black-light\/90 {
  color: rgb(97 97 97 / 0.9)
}

.text-black-light\/95 {
  color: rgb(97 97 97 / 0.95)
}

.text-black-light\/100 {
  color: rgb(97 97 97 / 1)
}

.text-red-something\/0 {
  color: rgb(153 0 36 / 0)
}

.text-red-something\/5 {
  color: rgb(153 0 36 / 0.05)
}

.text-red-something\/10 {
  color: rgb(153 0 36 / 0.1)
}

.text-red-something\/20 {
  color: rgb(153 0 36 / 0.2)
}

.text-red-something\/25 {
  color: rgb(153 0 36 / 0.25)
}

.text-red-something\/30 {
  color: rgb(153 0 36 / 0.3)
}

.text-red-something\/40 {
  color: rgb(153 0 36 / 0.4)
}

.text-red-something\/50 {
  color: rgb(153 0 36 / 0.5)
}

.text-red-something\/60 {
  color: rgb(153 0 36 / 0.6)
}

.text-red-something\/70 {
  color: rgb(153 0 36 / 0.7)
}

.text-red-something\/75 {
  color: rgb(153 0 36 / 0.75)
}

.text-red-something\/80 {
  color: rgb(153 0 36 / 0.8)
}

.text-red-something\/90 {
  color: rgb(153 0 36 / 0.9)
}

.text-red-something\/95 {
  color: rgb(153 0 36 / 0.95)
}

.text-red-something\/100 {
  color: rgb(153 0 36 / 1)
}

.text-red-important\/0 {
  color: rgb(218 37 29 / 0)
}

.text-red-important\/5 {
  color: rgb(218 37 29 / 0.05)
}

.text-red-important\/10 {
  color: rgb(218 37 29 / 0.1)
}

.text-red-important\/20 {
  color: rgb(218 37 29 / 0.2)
}

.text-red-important\/25 {
  color: rgb(218 37 29 / 0.25)
}

.text-red-important\/30 {
  color: rgb(218 37 29 / 0.3)
}

.text-red-important\/40 {
  color: rgb(218 37 29 / 0.4)
}

.text-red-important\/50 {
  color: rgb(218 37 29 / 0.5)
}

.text-red-important\/60 {
  color: rgb(218 37 29 / 0.6)
}

.text-red-important\/70 {
  color: rgb(218 37 29 / 0.7)
}

.text-red-important\/75 {
  color: rgb(218 37 29 / 0.75)
}

.text-red-important\/80 {
  color: rgb(218 37 29 / 0.8)
}

.text-red-important\/90 {
  color: rgb(218 37 29 / 0.9)
}

.text-red-important\/95 {
  color: rgb(218 37 29 / 0.95)
}

.text-red-important\/100 {
  color: rgb(218 37 29 / 1)
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.underline {
  text-decoration-line: underline
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  
}